---
title: Home
description: The homepage of NotTooBad Software
keywords: Mac software, text automation, startup
---
{% include head.html %}

<main>
	<div class="columns">
		<div>
			<div class="close">
				<p><strong>Welcome to</strong></p>
				<h1>NotTooBad Software</h1>
			</div>
			<p>Hi, my name is Kåre Morstøl and I am an independent software developer living in Ålesund, Norway. I focus mainly on making it simpler for non-developers to automate the more boring parts of their work.</p>
			<p>&nbsp;</p>
			<p>You can find me on <a href="https://twitter.com/nottoobadsw">Twitter</a> and <a href="https://github.com/kareman">GitHub</a>. Feel free to contact me at <a href="mailto:kare@nottoobadsoftware.com">kare@nottoobadsoftware.com</a> if you have any questions.</p>
		</div>

		<figure>
			<a href="/textpicker/">
				<img class="software-icon" src="/textpicker/TextPicker-Icon-256x256.png" alt="The TextPicker icon">
				<h2>TextPicker</h2>
			</a>
			<figcaption>A Mac application for automatically selecting text</figcaption>
		</figure>
	</div>
</main>

{% include footer.html %}
