---
title: Home
description: The homepage of NotTooBad Software
keywords: Mac software, text automation, startup
---
{% include head.html %}

<main>
	<div class="close">
		<p>Welcome to</p>
		<h1>NotTooBad Software</h1>
	</div>
	<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed fuga, repudiandae sapiente est eveniet itaque impedit obcaecati, consequatur cum pariatur explicabo iusto illum doloremque illo ducimus. Ad libero esse nulla.</p>

	<figure>
		<a href="/textpicker/">
			<img class="software-icon" src="/textpicker/TextPicker-Icon-256x256.png" alt="The TextPicker icon">
			<h2>TextPicker</h2>
		</a>
		<figcaption>A Mac application for automatically selecting text</figcaption>
	</figure>

</main>

{% include footer.html %}
