<footer>
	<div>
		<p>&copy; K&aring;re Morst&oslash;l</p>
		<a href="mailto:web@nottoobadsoftware.com">
			<img src="/assets/images/Icon_Mail.png" alt="Email icon">
		</a>
		{%- if site.twitter_username -%}
		<a href="https://twitter.com/{{site.twitter_username}}">
			<img src="/assets/images/Icon_Twitter.png" alt="Twitter icon" />
		</a>
		{%- endif -%}
		{%- if site.facebook_username -%}
		<a href="https://facebook.com/{{site.facebook_username}}">Facebook</a>
		{%- endif -%}
		{%- if site.github_username -%}
		<a href="https://github.com/{{site.github_username}}">
			<img src="/assets/images/Icon_GitHub.png" alt="GitHub icon" />
		</a>
		{%- endif -%}
		{%- if site.linkedin_username -%}
		<a href="https://linkedin.com/{{site.linkedin_username}}">LinkedIn</a>
		{%- endif -%}
	</div>
</footer>
</body>

</html>
