<style type="text/css">
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
</style>
<style type="text/css">
  /* LOADER */
  		.ml-form-embedSubmitLoad {
  		  display: inline-block;
  		  width: 20px;
  		  height: 20px;
  		}
  		.ml-form-embedSubmitLoad:after {
  		  content: " ";
  		  display: block;
  		  width: 11px;
  		  height: 11px;
  		  margin: 1px;
  		  border-radius: 50%;
  		  border: 4px solid #fff;
  		  border-color: #ffffff #ffffff #ffffff transparent;
  		  animation: ml-form-embedSubmitLoad 1.2s linear infinite;
  		}
  		@keyframes ml-form-embedSubmitLoad {
  		  0% {
  			transform: rotate(0deg);
  		  }
  		  100% {
  			transform: rotate(360deg);
  		  }
  		}
        #mlb2-1179818.ml-form-embedContainer {
          box-sizing: border-box;
          display: table;
          height: 99.99%;
          margin: 0 auto;
          position: static;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer h4,
        #mlb2-1179818.ml-form-embedContainer p,
        #mlb2-1179818.ml-form-embedContainer span,
        #mlb2-1179818.ml-form-embedContainer button {
          text-transform: none;
          letter-spacing: normal;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper {
          background-color: #f6f6f6;
          
          border-width: 0px;
          border-color: transparent;
          border-radius: 4px;
          border-style: solid;
          box-sizing: border-box;
          display: inline-block;
          margin: 0;
          padding: 0;
          position: relative;
                }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper.embedPopup,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper.embedDefault { width: 400px; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper.embedForm { max-width: 400px; width: 100%; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-align-left { text-align: left; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-align-center { text-align: center; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-align-default { display: table-cell; vertical-align: middle; text-align: center; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-align-right { text-align: right; }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedHeader img {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          height: auto;
          margin-top: 0;
          margin-bottom: 0;
          max-width: 400px;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
          padding: 20px 20px 0 20px;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
          padding-bottom: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
          margin: 0 0 20px 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
          color: #000000;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
          font-size: 30px;
          font-weight: 400;
          margin: 0 0 10px 0;
          text-align: left;
          word-break: break-word;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
          color: #000000;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      		font-size: 14px;
      		font-weight: 400;
      		line-height: 20px;
          margin: 0 0 10px 0;
          text-align: left;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ul,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ul,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol {
          color: #000000;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      		font-size: 14px;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p a,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p a {
          color: #000000;
          text-decoration: underline;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p:last-child,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p:last-child {
          margin: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody form {
          margin: 0;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow {
          margin: 0 0 20px 0;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
          margin: 0;
          padding: 0 0 20px 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow {
          margin: 0 0 10px 0;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-last-item {
          margin: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-formfieldHorizintal {
          margin: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
          background-color: #ffffff ;
          color: #333333 ;
          border-color: #cccccc ;
          border-radius: 4px ;
          border-style: solid ;
          border-width: 1px ;
          font-size: 14px ;
          height: 40px;
          line-height: 20px ;    
          margin-bottom: 0;
          margin-top: 0;
          margin-left: 0;
          margin-right: 0;
          padding: 10px 10px ;
          width: 100% ;
          box-sizing: border-box ;
          max-width: 100% ;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-webkit-input-placeholder,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-webkit-input-placeholder { color: #333333; }
  
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-moz-placeholder,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-moz-placeholder { color: #333333; }
  
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-ms-input-placeholder,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-ms-input-placeholder { color: #333333; }
  
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-moz-placeholder,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-moz-placeholder { color: #333333; }
  
  
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
          height: 42px;
        }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal { width: 70%; float: left; }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal { width: 30%; float: left; }
        .ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields { box-sizing: border-box; float: left; padding-right: 10px;  }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
          background-color: #ffffff;
          color: #333333;
          border-color: #cccccc;
          border-radius: 4px;
          border-style: solid;
          border-width: 1px;
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 0;
          margin-top: 0;
          padding: 10px 10px;
          width: 100%;
          box-sizing: border-box;
          overflow-y: initial;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
          background-color: #000000 ;
         	border-color: #000000;
          border-style: solid;
          border-width: 1px;
          border-radius: 4px;
          box-shadow: none;
          color: #ffffff ;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
          font-size: 14px ;
          font-weight: 700;
          line-height: 20px;
          margin: 0 ;
          padding: 10px ;
          width: 100%;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
          background-color: #333333 ;
          border-color: #333333 ;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type="checkbox"] {
          display: inline-block;
      	  float: left;
      	  margin: 1px 0 0 0;
      	  left: 0;
      	  top: 0;
      	  opacity: 1;
      	  visibility: visible;
      	  appearance: checkbox ;
      	  -moz-appearance: checkbox ;
      	  -webkit-appearance: checkbox ;
      	  position: relative;
      	  height: 14px;
      	  width: 14px;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description {
          color: #000000;
          display: block;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif;
          font-size: 12px;
          text-align: left;
          padding-left: 25px;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label {
          font-weight: normal;
          margin: 0;
          padding: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label a {
          color: #000000;
          text-decoration: underline;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p {
          color: #000000 ;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
          font-size: 12px ;
          font-weight: normal ;
          line-height: 18px ;
          padding: 0 ;
          margin: 0 5px 0 0 ;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:last-child {
          margin: 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
          margin: 0 0 20px 0;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
          background-color: #000000 ;
          border: none ;
          border-radius: 4px ;
          box-shadow: none ;
          color: #ffffff ;
          font-family: 'Open Sans', Arial, Helvetica, sans-serif ;
          font-size: 14px ;
          font-weight: 700 ;
          line-height: 20px ;
          height: 40px;
          padding: 10px ;
          width: 100% ;
          box-sizing: border-box ;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.loading {
          display: none;
        }
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover {
          background-color: #333333 ;
        }
        .ml-subscribe-close {
          width: 30px;
          height: 30px;
          background: url(https://bucket.mlcdn.com/images/default/modal_close.png) no-repeat;
          background-size: 30px;
          cursor: pointer;
          margin-top: -10px;
          margin-right: -10px;
          position: absolute;
          top: 0;
          right: 0;
        }
        .ml-error input {
          background: url(https://bucket.mlcdn.com/images/default/error-icon.png) 98% center no-repeat #ffffff ;
          background-size: 24px 24px ;
        }
        .ml-error .label-description {
          color: #ff0000 ;
        }
        .ml-error .label-description p,
        .ml-error .label-description p a {
          color: #ff0000 ;
        }
  
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p,
        #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p:first-letter {
          color: #ff0000 ;
        }
              @media only screen and (max-width: 400px){
          .ml-form-embedWrapper.embedDefault, .ml-form-embedWrapper.embedPopup { width: 100%; }
          .ml-form-formContent.horozintalForm { float: left; }
          .ml-form-formContent.horozintalForm .ml-form-horizontalRow { height: auto; width: 100%; float: left; }
          .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal { width: 100%; }
          .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal > div { padding-right: 0px; padding-bottom: 10px; }
          .ml-form-formContent.horozintalForm .ml-button-horizontal { width: 100%; }
          .ml-form-embedHeader { display: none ; }
        }
</style>
<style type="text/css">
  #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow {
        margin-bottom: 20px;
        text-align: left;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox {
      	margin: 0 0 10px 0;
      	width: 100%;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox.last-group {
      	margin: 0;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow h4 {
    	  color: ;
    	  font-family: ;
    	  font-size: px;
    	  font-weight: ;
    	  line-height: px;
    	  margin: 0 0 10px 0;
        text-align: left;
        word-break: break-word;
    	}
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox label {
        font-weight: normal;
      	margin: 0;
      	padding: 0;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description {
        color: #000000;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        padding-left: 25px;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .description {
        color: #000000;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      	font-size: 12px;
      	font-style: italic;
      	font-weight: 400;
      	line-height: 18px;
      	margin: 5px 0 0 0;
      	text-align: left;
      }
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type="checkbox"] {
        display: inline-block;
        float: left;
        margin: 1px 0 0 0;
        left: 0;
    	  top: 0;
        opacity: 1;
        visibility: visible;
        appearance: checkbox ;
        -moz-appearance: checkbox ;
        -webkit-appearance: checkbox ;
        position: relative;
        height: 14px;
        width: 14px;
      }
</style>
<style type="text/css">
  #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions { text-align: left; }
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent {
    	  margin: 15px 0 15px 0;
    	  text-align: left;
    	}
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent.horizontal {
        margin: 0 0 15px 0;
      }
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent h4 {
    	  color: #000000;
    	  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    	  font-size: 12px;
    	  font-weight: 700;
    	  line-height: 18px;
    	  margin: 0 0 10px 0;
    	  word-break: break-word;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent p {
    	  color: #000000;
    	  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    	  font-size: 12px;
    	  line-height: 18px;
    	  margin: 0 0 10px 0;
    	}
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent p a {
        color: #000000;
        text-decoration: underline;
      }
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent p:last-child { margin: 0 0 15px 0; }
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptions {
        margin: 0;
        padding: 0;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox {
    		margin: 0 0 10px 0;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox:last-child {
    		margin: 0;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox label {
    	  font-weight: normal;
    		margin: 0;
    		padding: 0;
    	}
      #mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description {
        color: #000000;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 18px;
        text-align: left;
        padding-left: 25px;
      }
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .description {
    	  color: #000000;
    	  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    		font-size: 12px;
    		font-style: italic;
    		font-weight: 400;
    		line-height: 18px;
    		margin: 5px 0 0 0;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox input[type="checkbox"] {
    	  display: inline-block;
    	  float: left;
    	  margin: 1px 0 0 0;
    	  left: 0;
    	  top: 0;
    	  opacity: 1;
    	  visibility: visible;
    	  appearance: checkbox ;
    	  -moz-appearance: checkbox ;
    	  -webkit-appearance: checkbox ;
    	  position: relative;
    	  height: 14px;
    	  width: 14px;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedMailerLite-GDPR {
      	padding-bottom: 20px;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedMailerLite-GDPR p {
    	  color: #000000;
    	  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    	  font-size: 10px;
    	  line-height: 14px;
    	  margin: 0;
    	  padding: 0;
    	}
    	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedMailerLite-GDPR p a {
    	  color: #000000;
    	  text-decoration: underline;

    	}
    	@media (max-width: 768px) {
      	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsContent p {
      	  font-size: 12px ;
      	  line-height: 18px ;
      	}
      	#mlb2-1179818.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedMailerLite-GDPR p {
      	  font-size: 10px ;
      	  line-height: 14px ;
      	}
    	}
</style>
<div id="mlb2-1179818" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-1179818">
  <div class="ml-form-align-center ">
    <div class="ml-form-embedWrapper embedForm">
      <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
        <div class="ml-form-embedContent" style=" ">
          <h4></h4>
          <p><span style="font-size: 15px;">Inform me when TextPicker is released<span style="font-size: 11px;"></span></span></p>
        </div>
        <form class="ml-block-form" action="https://app.mailerlite.com/webforms/submit/k7y0s5" data-code="k7y0s5" method="post" target="_blank">
          <div class="ml-form-formContent">
            <div class="ml-form-fieldRow ">
              <div class="ml-field-group ml-field-name">
                <input type="text" class="form-control" data-inputmask="" name="fields[name]" value="" placeholder="Name">
              </div>
            </div>
            <div class="ml-form-fieldRow ">
              <div class="ml-field-group ml-field-company">
                <input type="text" class="form-control" data-inputmask="" name="fields[company]" value="" placeholder="Company">
              </div>
            </div>
            <div class="ml-form-fieldRow ml-last-item">
              <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                <input type="email" class="form-control" data-inputmask="" name="fields[email]" value="" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="ml-form-embedPermissions" style="">
            <div class="ml-form-embedPermissionsContent default">
              <h4>Permissions</h4>
              <p></p>
              <p>The information you provide on this form will only be used to provide you with updates and information about TextPicker, or optionally the entire site.</p>
              <p></p>
              <div class="ml-form-embedPermissionsOptions"></div>
            </div>
            <div class="ml-form-embedMailerLite-GDPR">
              <p>We use MailerLite as our marketing automation platform. By clicking below to submit this form, you acknowledge that the information you provide will be transferred to MailerLite for processing in accordance with their <a href="https://www.mailerlite.com/privacy-policy" target="_blank">Privacy Policy</a> and <a href="https://www.mailerlite.com/terms-of-service" target="_blank">Terms of Service</a>.</p>
            </div>
          </div>
          <div class="ml-form-interestGroupsRow ml-block-groups">
            <div class="ml-form-interestGroupsRowCheckbox group" style="display:none;">
              <label>

                        <input type="hidden" name="groups[]" value="10828466" checked="checked">

                        

                        <div class="label-description">Product</div>

                      </label>
            </div>
            <div class="ml-form-interestGroupsRowCheckbox group" style="">
              <label>

                        

                        <input type="checkbox" name="groups[]" value="11015022">

                        <div class="label-description">I want to become a beta tester</div>

                      </label>
              <div class="description">Beta testers who provide feedback will receive a free full licence when the application is released.</div>
            </div>
            <div class="ml-form-interestGroupsRowCheckbox last-group" style="">
              <label>

                        

                        <input type="checkbox" name="groups[]" value="10828444">

                        <div class="label-description">Keep me updated on everything (including blog)</div>

                      </label>
            </div>
          </div>
          <style type="text/css">
            .ml-form-recaptcha {
              margin-bottom: 20px;
            }
          
            .ml-form-recaptcha.ml-error iframe {
              border: solid 1px #ff0000;
            }
          </style>
          <div class="ml-form-recaptcha ml-validate-required">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <div class="g-recaptcha" data-sitekey="6Lf1KHQUAAAAAFNKEX1hdSWCS3mRMv4FlFaNslaD"></div>
          </div>
          <input type="hidden" name="ml-submit" value="1">
          <div class="ml-form-embedSubmit">
            <button type="submit" class="primary">Subscribe</button>
            <button disabled="disabled" style="display: none;" type="button" class="loading">

                  <div class="ml-form-embedSubmitLoad"><div></div><div></div><div></div><div></div></div>

                </button>
          </div>
        </form>
      </div>
      <div class="ml-form-successBody row-success" style="display: none">
        <div class="ml-form-successContent">
          <h4>Thank you!</h4>
          <p style="text-align: left;">You will be subscribed as soon as you confirm your subscription in the email I have sent you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function ml_webform_success_1179818() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-1179818 .row-success').show();
      $('.ml-subscribe-form-1179818 .row-form').hide();
    }
</script>
<!--img src="https://track.mailerlite.com/webforms/o/1179818/k7y0s5?vd890ed88b3a28c805acc70e1a88fa27c" width="1" height="1" style="max-width: 1px; max-height: 1px; visibility: hidden; padding: 0; margin: 0; display: block;" border="0" alt="tracker"-->
<script src="https://static.mailerlite.com/js/w/webforms.min.js?vd890ed88b3a28c805acc70e1a88fa27c" type="text/javascript"></script>