
body {
	background-color: #F2F2F2;
	text-align: center;
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
}

main > div, header {
	margin-bottom: 1em;
}


.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0em;
}

.columns div { 
	text-align: center;
	/*background-color: white;*/
}

.columns img {
	max-width: 100%;
	margin: 0;
}

.columns p {
	margin: 0;
}

.columns h2 {
	margin-bottom: 0.1em;
}


.cta {
	color: white;
	background-image: linear-gradient(#4AD0FF, #4AA6F8);
}

.cta p {
	display: inline-block;
	font-size: 150%;
}

button {
	background-color: #F2F2F2;
	border: none;
	color: black;
	cursor: pointer;
	border-radius: 10px;
	padding: 0.5em 2em;
	margin: 0em 1em 1em 1em;
	font-weight: bold;
}
