---
---

/*
	padding: 0.1em;

	text-rendering: optimizeLegibility;
*/

/* Defaults */

:root {
  --main-background-color: #0f1530;
  --box-background-color: #171e38;
  --footer-background-color: #030816;
  --form-background-color: #3873ed;
  --text-color: #aeaeb9;
  --heading-text-color: #feffff;
  --page-side-margin: 4vw;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
}

@media screen and (max-width: 74ch) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
    grid-template-columns: var(--page-side-margin) 1fr var(--page-side-margin);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  .categories {
    display: none;
  }
}

@media screen and (min-width: 75ch) {
  body {
    display: grid;
    grid-template-areas:
      "header header header"
      ". main ."
      "footer footer footer";
    grid-template-columns: var(--page-side-margin) 1fr var(--page-side-margin);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }

  body.two_columns_grid {
    display: grid;
    grid-template-areas:
      "header header header header"
      ". main aside ."
      "footer footer footer footer";
    grid-template-columns: 0 1fr auto 0;
    grid-template-rows: auto 1fr auto;
    grid-column-gap: var(--page-side-margin);
    min-height: 100vh;
  }
}

main {
  grid-area: main;
  overflow-wrap: break-word;
  max-width: 100%;
  min-width: 0;
}

body > aside {
  grid-area: aside;
}

h1,
h2,
h3,
h4 {
  color: var(--heading-text-color);
}

a {
  color: #3771e7;
  text-decoration: none;
}

a:visited {
  color: #7d65f3;
}

.close :first-child {
  margin-bottom: 0;
}

.close :last-child {
  margin-top: 0;
}

.box {
  background-color: var(--box-background-color);
  padding: 20px;
  border-radius: 5px;
  margin: 0;
}

.box + .box {
  margin-top: 1em;
}

.categories p {
  padding-left: 20px;
}

.categories p a {
  color: var(--text-color);
  text-decoration: none;
}

.categories .currentCategory a {
  color: var(--heading-text-color);
}

/* Header */

body > {
  header {
    grid-area: header;
    padding: 1em var(--page-side-margin);
    text-align: right;
    background-color: var(--box-background-color);
    margin-bottom: 4em;
  }

  header a {
    margin-left: 1em;
    display: inline-block;
    color: var(--text-color) !important;
    text-decoration: none !important;
  }

  header a:first-child {
    float: left;
    margin: 0;
  }

  header img {
    max-height: 1.5em;
  }
}

/* Main */

figure {
  text-align: center;
}

figure a {
  text-decoration: none;
}

.software-icon {
  height: 8em;
}

.columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 4vw;
}

.columns img {
  max-width: 100%;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
  grid-gap: 1em;
}

.boxes > div {
  background-color: var(--box-background-color);
  padding: 0 1em;
  border-radius: 5px;
}

.boxes p {
  text-align: left;
}

/* 	
	display: flex;
	justify-content: center;
	align-items: center;
*/

/* Footer */
body > {
  footer {
    grid-area: footer;
    background-color: var(--footer-background-color);
    color: var(--heading-text-color);
    margin-top: 4em;
    padding: 2em 0;
    text-align: center;
  }

  footer > div > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0.2em;
  }

  footer img {
    max-height: 1.5em;
  }

  footer svg {
    display: inline-block;
    height: 1.25em;
    width: 1.25em;
    fill: whitesmoke;
  }
}
