{% include head.html %}
<!-- Main -->
<h2 class="title">{{ page.type | capitalize }} '{{ page.title }}'</h2>

<section class="wrapper style1">
	<div class="container">
		<div id="content">
			<!-- Blog -->

			{% for post in page.posts %}
			<section>
				<div class="box post">
					<h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
					<p><em>{{ post.date | date_to_string }}</em></p>
					{{ post.excerpt }}
				</div>
			</section>
			{% endfor %}
		</div>
	</div>
</section>
{% include footer.html %}
