---
title: Blog
description: The blog of NotTooBad Software
keywords: Mac software, text automation, Swift
---
{% include head.html body=" class='two_columns_grid'" %}

<aside class="categories">
	<h2 class="box">Categories</h2>
	<p {% if page.title == "Blog" -%} class="currentCategory" {%- endif -%}><a href="/blog/">All</a></p>
	{%- for category in site.categories -%}
	<p {% if category[0] == page.title -%} class="currentCategory" {%- endif -%}><a href="/blog/{{ category[0] | downcase }}">{{ category[0] }}</a></p>
	{%- endfor -%}
</aside>

<main>
	{%- assign posts = page.posts | default: site.posts -%}
	{% for post in posts %}
	<article class="box">
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>
		<p><time pubdate datetime="{{post.date}}">{{post.date | date_to_string}}</time> | {{post.categories}}</p>
		{{post.excerpt}}
	</article>
	{% endfor %}
</main>

{% include footer.html %}
