---
title: Blog
description: The blog of NotTooBad Software
keywords: Mac software, text automation, Swift
---
{% include head.html %}

<aside>
	<section class="categories">
		<h3 class="box">Categories</h3>
		<div>
			<a {% if page.title == "Blog" -%} class="currentCategory" {%- endif -%} href="/blog/">All</a>
			{%- for category in site.categories -%}
			<a {% if category[0] == page.title -%} class="currentCategory" {%- endif -%} href="/blog/{{ category[0] | downcase }}/">{{ category[0] | replace: "-", " " }}</a>
			{%- endfor -%}
		</div>
	</section>
</aside>

<main>
	{%- assign posts = page.posts | default: site.posts -%}
	{% for post in posts %}
	<article class="box">
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>
		{%- include post-details.html -%}
		{{post.excerpt}}
	</article>
	{% endfor %}
</main>

{% include footer.html %}
