---
css: /assets/highlighting/vscode.css
---
{%- if page.description == undefined -%}
{%- capture description -%}All posts of category '{{page.title | replace: "-", " " }}'{%- endcapture -%}
{%- endif -%}
{% include head.html %}

{%- include categories.html -%}

<main>
	{%- assign posts = page.posts | default: site.posts -%}
	{% for post in posts %}
	<article class="box">
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>
		{%- include post-details.html -%}
		{{post.excerpt}}
	</article>
	{% endfor %}
</main>

{% include footer.html %}
