---
css: /assets/highlighting/vscode.css
---
{%- assign keywords = page.keywords | default: page.tags -%}

{% include head.html %}

{% include categories.html %}

<main>
	<article>
		<h1>{{ page.title }}</h1>
		{%- assign post = page -%}
		{%- include post-details.html -%}
		{% if page.featured %}
		<a href="#"><img src="{{ page.featured }}" alt="" /></a>
		{% endif %}
		{{ page.content }}
	</article>
	<p><a href="https://github.com/kareman/nottoobadsoftware.com/edit/master/{{ page.path }}">Suggest changes to post.</a></p>
	<section class="box">
		{%- include comments.html -%}
	</section>
	{%- include subscribe-blog.html -%}
</main>

{% include footer.html %}
