---
css: /assets/highlighting/vscode.css
---
{%- if page.description == undefined -%}
{%- capture description -%}All posts of category '{{page.title | replace: "-", " " }}'{%- endcapture -%}
{%- endif -%}

{%- assign posts = page.posts | default: site.posts -%}
{%- assign keywords = posts | map: "tags" | uniq | join: ", " -%}

{% include head.html %}

{% include categories.html %}

<main>
	{% for post in posts %}
	<article class="box">
		<a href="{{ post.url }}">
			<h2>{{ post.title }}</h2>
		</a>
		{% include post-details.html %}
		{{post.excerpt}}
	</article>
	{% endfor %}
</main>

{% include footer.html %}
